body {
  overflow-x: hidden;
  width: 100vw;
}

/* Hero Banner */
.hero {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(../img/0480018e-9669-4513-bf60-76edd80d248d.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

/* Contents */
.content {
  margin: auto;
  width: 100%;
}

/* Container */

.containerBox {
  width: 100%;
  height: 100vh;
  background-color: var(--pureWhite);
  padding: var(--gapSize);
  gap: var(--gapSize);
  margin-top: var(--gapSize);
  margin-bottom: var(--gapSize);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* White Column */
.whiteItem {
  background-color: var(--white);
}

/* Black Column */
.darkItem {
  background-color: var(--black);
}

/* Column Stylings */

.itemCol {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

/* Image Stylings */
.itemCol .fullImage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullImage img {
  width: 100%;
  object-fit: cover;
}
.fullImage img.appleLogo {
  width: 50%;
  object-fit: cover;
}

/* Content Stylings */
.itemContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: calc(var(--gapSize) * 2);
  height: 60%;
}

.itemContent h2 {
  text-transform: uppercase;
  margin-bottom: var(--gapSize);
}

/* Responsiveness */

@media (max-width: 1007px) {
  .containerBox {
    flex-direction: column;
  }
  .itemCol {
    width: 95%;
  }
}

/*------------------------------ Button Stylings ------------------------------*/

.buttonLink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-grd-line {
  font-weight: 900;
  width: 270px;
  height: 60px;
}

.button-grd span {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 50%;
  z-index: 9;
  color: var(--black);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.button-grd em {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 130%;
  z-index: 9;
  color: var(--pureWhite);
  font-style: normal;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.button-grd:hover span {
  top: -120%;
}

.button-grd:hover em {
  top: 50%;
}

.button-grd:hover::before {
  width: 200%;
  height: 200%;
}

.button-grd:hover:after {
  background-position: 0 80%;
}

.button-grd-line {
  width: 145px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 200rem;
  position: relative;
  border: 1px solid black;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--pureWhite);
}

.button-grd-line:before {
  content: "";
  background: var(--black);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  border-radius: 200rem;
  z-index: 1;
  transition: 0.8s;
}

.button-grd-line:after {
  content: "";
  background: transparent var(--pureWhite) repeat-x 0 80%;
  display: block;
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 200rem;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

/*------------------------------ Footer ------------------------------*/

footer {
  width: 100%;
}

.footer {
  margin: 0 10%;
  padding: 50px 0;
  font-size: 14px;

  display: flex;
  align-items: flex-start;
}

/* Responsiveness */

@media (max-width: 1007px) {
  .footer {
  }
}

footer .w-20 {
  width: 20%;
  padding: 0px 15px;
}

.footer ul {
  list-style: none;
}
.footer a {
  text-decoration: none;
  color: var(--blackSoft);
  transition: 0.3s;
}
.footer a:hover {
  transition: 0.3s;
  color: var(--primary);
}

.footer h4 {
  line-height: calc(1.5 * 42px);
}

.copyrights {
  line-height: calc(1.5 * 16px);
}

.footer li {
  line-height: calc(1.5 * 16px);
}
